<div class="z-50 fixed w-full left-0 top-0">
  <div
    class="loading-container w-full h-full bg-gray-800 flex justify-center items-center fixed"
  >
    <img class="loading h-64" src="/assets/img/loading/logo.svg" />
  </div>
  <div
    class="loaded hidden w-1/2 h-full bg-gray-800 flex justify-end items-center fixed loading-after"
  >
    <img class="h-64" src="/assets/img/loading/left.svg" />
  </div>
  <div
    class="loaded hidden w-1/2 h-full bg-gray-800 flex right-0 items-center fixed loading-after"
  >
    <img class="h-64" src="/assets/img/loading/right.svg" />
  </div>
</div>
