<nav class="bg-gray-700 lg:bg-gray-900 text-gray-400 w-full">
  <!-- <div id="InfoJS" class="text-center text-red-700"> -->
  <!--   Włącz proszę JavaScript, bez niego strona nie będzie działać! -->
  <!-- </div> -->
  <!-- <script src="/assets/js/info.js" async></script> -->

  <div class="px-6 mx-auto lg:mr-64 lg:ml-auto flex flex-col">
    <div class="flex justify-between items-center">
      <a class="flex items-center lg:mb-0" href="/pl/">
        <img class="w-12 lg:w-16" src="/assets/img/logo.png" />
          <b class="text-2xl md:text-3xl text-white ">Marcini.uk</b>
      </a>
      <div id="hamburger" class="fas fa-bars fa-lg text-gray-200"></div>
    </div>

    <div class="lg:fixed right-0 xl:top-0">
      <div
        id="nav-right"
        class="nav-hidden sidebar truncate flex flex-col -mx-2 mt-2 xl:top-0 text-gray-200"
      >
        <a class="mx-2 my-1 text-2xl hover:text-blue-200" href="/pl/profile/">
          <i class="fas fa-address-card w-8 text-center"></i> Profile
        </a>
        <a class="mx-2 my-1 text-2xl hover:text-green-200" href="/pl/projekty/">
          <i class="fas fa-project-diagram w-8 text-center"></i> Projekty
        </a>
        <a class="mx-2 my-1 text-2xl hover:text-yellow-100" href="/pl/setup/">
          <i class="fas fa-laptop-code w-8 text-center"></i> Setup
        </a>
        <a class="mx-2 my-1 text-2xl hover:text-indigo-300" href="/pl/kontakt/">
          <i class="fas fa-envelope-open-text w-8 text-center"></i> Kontakt
        </a>
        <a class="mx-2 my-1 text-2xl hover:text-red-200" href="/pl/ulubiency">
          <i class="fas fa-heart w-8 text-center"></i> Ulubieńcy
        </a>
      </div>
    </div>
  </div>
</nav>
